<h1>登入系統-房地產觀看</h1>
<%= form_for:session,url:{action: "create"} do |form| %>
	<%= form.label :帳號 %>
    <%= form.text_field :name %>
	<%= form.label :密碼 %>
    <%= form.password_field :passwd %>
	<div class="actions">
		
		<%= form.submit "登入" %>
	</div>
	<div class="g-recaptcha" data-sitekey="6Ld-EYAUAAAAAEsRBYZ5rlt2BKCRVTfSP5iWto6M"></div>
	<p id="notice"><%= notice %></p>
<% end %>
<%= link_to '註冊', new_user_path %>

