<%= form_with(model: user, local: true) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :帳號 %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :密碼 %>
    <%= form.password_field :passwd %>
  </div>

  <div class="field">
    <%= form.label :身分 %>
    <%= form.select(:permission ,Permission.all.collect {|p| [ p.name, p.pid ] }) %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
  <% if @sighup==1 %>
	<div class="g-recaptcha" data-sitekey="6Ld-EYAUAAAAAEsRBYZ5rlt2BKCRVTfSP5iWto6M"></div>
  <% end %>
<% end %>
