<p id="notice"><%= notice %></p>
<p id="notice"><%= @message %></p>
<h1>高雄地區房價選取</h1>
<%= form_tag({:controller => 'users', :action => 'draw' }) do |f| %>
<table>
  <thead>
    <tr>
      <th>地區</th>
	  <th>勾選</th>
	  <th>地區</th>
	  <th>勾選</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
	<tr>
    <% @houses.each do |house| %>
      
        <td><%= house.name %></td>
 
		<!-表示讓house.hid的值給予choose-!>
		<td><%= check_box_tag 'choose[]', house.hid  %>
		<!-1,2,1,2排排站兩個一行-!>
		<% if house.hid%2==0 %>
			</tr>
			<tr>
		<% end %>
    <% end %>
	</tr>
  </tbody>
</table>
<%= submit_tag "創建" %>
<% end %>
<br>
<%= link_to '帳號清單', users_path %>
