<p id="notice"><%= notice %></p>

<p>
  <strong>帳號:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>密碼:</strong>
  <%= @user.passwd %>
</p>

<p>
  <strong>身分:</strong>
  <%= Permission.find_by("pid=#{@user.permission}").name %>
</p>
<% if @user.name==session['user'] || @prm.permission==2%>
	<%= link_to '修改', edit_user_path(@user) %> |
<% end %>
<%= link_to '上一頁', users_path %>
